@model List<MatriculadosModel>
@using AlunoECursos.Models.ViewModel

@{
    ViewData["Title"] = "Matriculados";
}
<div class="text-center">

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-success btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {<div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <h1 class="display-4">Alunos Matriculados</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a role="button" class="btn btn-primary" asp-controller="Matricula" asp-action="AdicionarMatricula">Adicionar</a>

    </div>
    <br />
    <table class="table" id="table-Matriculados">
        <thead class="table-dark">
            <tr>

                <th scope="col">Nome Do Alunos</th>
                <th scope="col">Curso Cadastrado</th>
                <th scope="col">Data De Inicio</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (MatriculadosModel Matricula in Model)
                {
                    <tr>
                        <td>@Matricula.Alunos.Nome</td>
                       
                        <td>@Matricula.Cursos.Curso</td>
                        
                        <td>@Matricula.DataInicio</td>


                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a role="button" class="btn btn-danger" asp-route-id="@Matricula.Id" asp-controller="Matricula" asp-action="Excluir">Excluir</a>
                                <a role="button" class="btn btn-success" asp-route-id="@Matricula.Id" asp-controller="Matricula" asp-action="Alterar">Alterar</a>
                            </div>

                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>
</div>

