@model List<AlunosModel> 
@{
    ViewData["Title"] = "Alunos";
}
<div class="text-center">

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-success btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {<div class="alert alert-danger" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
    @TempData["MensagemErro"]
</div>
    }

    <h1 class="display-4">Nome dos Alunos Cadastrados</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a role="button" class="btn btn-primary" asp-controller="Alunos" asp-action="AdicionarAlunos">Adicionar</a>
          
    </div>
    <br />
    <table class="table" id="table-Alunos">
        <thead class="table-dark">
            <tr>

                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Idade</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (AlunosModel ALUNO in Model)
                {
            <tr>

                <td>@ALUNO.Nome</td>
                <td>@ALUNO.Sobrenome</td>
                <td>@ALUNO.Idade</td>
               
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a role="button" class="btn btn-danger" asp-route-id="@ALUNO.Id" asp-controller="Alunos" asp-action="Excluir">Excluir</a>
                        <a role="button" class="btn btn-success" asp-route-id="@ALUNO.Id" asp-controller="Alunos" asp-action="Alterar">Alterar</a>
                    </div>

                </td>
            </tr>
                }
            }


        </tbody>
    </table>
</div>

